<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Simple webpage</title>
</head>
<body>
<h1>Book Lit</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>First Name</th>
        <th>Books</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text = "${author.id}">123</td>
        <td th:text = "${author.firstName}">123</td>
        <td th:text = "${author.lastName}">123</td>
        <td th:text = "${author.books}">wwrox</td>
    </tr>
</table>

</body>
</html>